body {
  background-color: #505050;
  font-family: "Aller";
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.title,
.subtitle {
  font-family: "Satoshi";
  letter-spacing: 0.35rem;
  font-size: 2.5rem;
}
.container-head {
  background-color: #918f8fd3;
  border-radius: 10px;
  padding: 3rem;
  margin-top: 1rem;
}
h2 {
  background-color: #918f8fd3;
  padding: 0.5rem;
  border-radius: 25px;
}
